
.cajaInicial{
    height: 1000px;
    width: 700px;
    border: 10px solid rgb(227, 227, 227);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: black;
    font-size: 30px;

}

.header1{
    height: 150px;
    width: auto;
    border: 10px solid rgba(99, 236, 99, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 5px 5px 5px;

}

h5{
    margin-top: 10px;
    margin-left: 10px;

}

nav{
    height: 80px;
    width: auto;
    border: 10px solid rgba(128, 128, 128, 0.534);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
}

.boxleft{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.article{
    margin-bottom: 0px;
}

article{
    height: 600px;
    width: 430px;
    border: 10px solid rgb(163, 185, 226);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    
}

.headSection1{
    width: 400px;
    border: 8px solid rgb(162, 224, 162);
    border-radius: 10px;
    margin-left: 9px;
    
}

.section1{
    
    border: 8px solid rgb(212, 185, 237);
    border-radius: 10px;
    margin-left: 5px;
    width: 400px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.h5section1{
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.section2{
    margin-top: 5px;
    border: 8px solid rgb(212, 185, 237);
    border-radius: 10px;
    margin-left: 5px;
    width: 400px;
}

.footer1{
    margin-top: 5px;
    border: 8px solid rgb(162, 224, 162);
    border-radius: 10px;
    margin-bottom: 5px;
    width: 400px; 
    margin-left: 5px;

}

.h5footer1{
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.footerFinal{
    border: 8px solid rgb(162, 224, 162);
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.h5footerfinal{
    padding-bottom: 0px;
    margin-bottom: 30px;
}

.div3{
    height: 600px;
    width: 220px;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px solid rgb(255, 174, 174);
    border-radius: 10px;  
}

.h5div3{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.aside1{

    border: 10px solid rgb(219, 185, 219);
    border-radius: 10px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 300px;

}

.aside2{

    border: 10px solid rgb(219, 185, 219);
    border-radius: 10px; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 210px;

}




